version: '3.8'

services:
  # api:
  #   build: .
  #   ports:
  #     - "8000:8000"
  #   environment:
  #     - MONGO_URI=${MONGO_URI}
  #     - AUTH0_DOMAIN=${AUTH0_DOMAIN}
  #     - AUTH0_API_AUDIENCE=${AUTH0_API_AUDIENCE}
  #     - AUTH0_CLIENT_ID=${AUTH0_CLIENT_ID}
  #     - AUTH0_CLIENT_SECRET=${AUTH0_CLIENT_SECRET}
  #   depends_on:
  #     - mongodb
  #   restart: on-failure
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: